.kit-icon_tool {
    background-repeat: no-repeat;

    &_search {
        background-image: url(images/tool_search.png);
        background-size: 25px 25px;
    }

    &_arrow-down {
        background-image: url(images/sprite.png);
        background-position: -118px -744px;
        height: 11px;
        width: 16px;
    }

    &_calendar {
        background: url(images/sprite.png);
        background-position: -64px -794px;
        width: 28px;
        height: 28px;
    }

    &_carousel-arrow-prev {
        background: url(images/sprite.png);
        background-position: -82px -2313px;
        width: 32px;
        height: 64px;

        &:hover {
            background-position: -2px -2313px;
        }

        &:active {
            background-position: -2px -2380px;
        }
    }

    &_carousel-arrow-next {
        background: url(images/sprite.png);
        background-position: -126px -2313px;
        width: 32px;
        height: 64px;

        &:hover {
            background-position: -46px -2313px;
        }

        &:active {
            background-position: -48px -2380px;
        }
    }

    &_carousel-dot {
        background: url(images/sprite.png);
        background-position: -148px -428px;
        vertical-align: top;
        width: 12px;
        height: 12px;

        &:hover {
            background-position: -130px -430px;
        }

        &:active {
            background-position: -130px -430px;
        }
    }

    &_carousel-dot-active {
        background: url(images/sprite.png);
        background-position: -130px -430px;
        vertical-align: top;
        width: 12px;
        height: 12px;

        &:hover {
            background-position: -130px -430px;
        }

        &:active {
            background-position: -130px -430px;
        }
    }
}
