.kit-date-picker {
    font-family: Arial;
    display: inline-block;
    position: relative;
    width: 100%;

    &_disabled &__icon {
        cursor: default;

        &:hover {
            opacity: 1;
        }
    }

    &__icon {
        cursor: pointer;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 45px;
        box-sizing: border-box;
        padding-top: 10px;
        text-align: center;

        &:hover {
            opacity: .8;
        }
    }

    &__calendar-layout {
        border-radius: 4px;
        padding: 20px;
        box-shadow: 0px 0px 10px #7c7c7c;
        background-color: #fff;
    }
}
