/* FIXME need correct font sizes */

.form-field {
    font-family: Arial;
    padding-bottom: 15px;
    position: relative;

    &_orientation_horizontal {
        padding-left: 200px;
    }

    &_orientation_horizontal &__label {
        position: absolute;
        top: 0px;
        left: 0px;
        max-width: 180px;
        padding-top: 12px;
        box-sizing: border-box;
    }

    &_orientation_vertical &__label {
        padding-bottom: 5px;
    }

    &__label {
        font-size: 12px;
    }
}
