.carousel {
    font-family: 'Conv_SeroPro';
    min-height: 100px;
    border: none;
    outline: none;
    box-sizing: border-box;
    transition: background-color 200ms, border-color 200ms;
    position: relative;
    overflow: hidden;

    &__animation-container {
        display: inline-block;
        position: relative;
        top: 0;
        width: 100%;
        background: #efefef;
        left: 0;
    }

    &__dot-list {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    &__content {
        position: relative;
        min-height: 100px;
    }

    &__slider-box {
        position: relative;
        top: 0;
        width: 100%;
        box-sizing: border-box;
    }

    &__control {
        margin: auto;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 31px;
        height: 62px;
        z-index: 1;
        box-sizing: content-box;
        cursor: pointer;

        &_type_prev {
            left: 0;
        }

        &_type_next {
            right: 0;
        }
    }

    &__dot {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        width: 12px;
        height: 12px;
        cursor: pointer;
        margin: 0 3px;
    }

    &__disabled {
        background: #efefef;
        color: #cecece;
        cursor: default;

        &:hover,
        &:active {
            background: #efefef;
        }
    }
}

.carousel__content_right .slide-enter {
    opacity: 0;
    transform: translate(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.carousel__content_right .slide-enter.slide-enter-active {
    opacity: 1;
    transform: translate(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    transition-property: transform, opacity;
    transition-duration: .8s;
    transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.carousel__content_right .slide-leave {
    position: absolute;
    top: 0;
    opacity: 1;
    transform: translate(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    transition-property: transform, opacity;
    transition-duration: .8s;
    transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.carousel__content_right .slide-leave.slide-leave-active {
    opacity: 0;
    transform: translate(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.carousel__content_left .slide-enter {
    opacity: 0;
    transform: translate(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.carousel__content_left .slide-enter.slide-enter-active {
    opacity: 1;
    transform: translate(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    transition-property: transform, opacity;
    transition-duration: .8s;
    transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.carousel__content_left .slide-leave {
    position: absolute;
    top: 0;
    opacity: 1;
    transform: translate(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    transition-property: transform, opacity;
    transition-duration: .8s;
    transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.carousel__content_left .slide-leave.slide-leave-active {
    opacity: 0;
    transform: translate(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}