.kit-radio {
    cursor: pointer;
    position: relative;
    display: inline-block;
    box-sizing: border-box;

    &:hover &__control {
        border-color: #42b758;
        box-shadow: 0px 0px 1px rgba(66, 183, 88, .4);
    }

    &_checked {
        cursor: default;
    }

    &_checked &__control:before {
        background-color: #2f9f13;
    }

    &_disabled {
        cursor: default;
    }

    &_disabled &__control,
    &_disabled:hover &__control {
        border-color: rgba(0, 0, 0, 0.12);
        background-color: #efefef;
        box-shadow: none;
    }

    &__control {
        position: absolute;
        box-sizing: border-box;
        border-radius: 50%;
        border-color: rgba(0, 0, 0, 0.3);
        border-style: solid;
        border-width: 1px;
        padding: 4px;
        width: 18px;
        height: 18px;
        outline: none;

        &:before {
            content: '';
            position: absolute;
            border-radius: 100%;
            width: 8px;
            height: 8px;
        }

        &:focus {
            border-color: #42b758;
            box-shadow: 0px 0px 1px rgba(66, 183, 88, .4);
        }
    }

    &__text {
        display: inline-block;
        padding-left: 28px;
        line-height: 20px;
        color: #000;
    }

    &_size_s &__text {
        font-size: 12px;
    }

    &_size_m &__text {
        font-size: 14px;
    }
}
