.kit-button {
    font-family: SeroPro;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    transition: background-color 200ms, border-color 200ms;
    text-decoration: none;

    &__text {
        text-align: left;
    }

    &_size_m {
        min-height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
    }

    &_size_m &__text {
        line-height: 20px;
    }

    &_size_l {
        min-height: 54px;
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 20px;
    }

    &_size_l &__text {
        line-height: 24px;
    }

    &_color_orange {
        background: #ff9908;
        color: #fff;

        &:hover {
            background: #ffac14;
            box-shadow: 0px 0px 1px #ff9908;
        }

        &:focus {
            box-shadow: 0px 0px 1px #ff9908;
        }

        &:active {
            background: #ffc020;
            color: rgba(255, 255, 255, .85);
        }
    }

    &_color_green {
        background: #2f9f13;
        color: #fff;

        &:hover {
            background: #45b037;
            box-shadow: 0px 0px 1px #2f9f13;
        }

        &:focus {
            box-shadow: 0px 0px 1px #2f9f13;
        }

        &:active {
            background: #59bf57;
            color: rgba(255, 255, 255, .85);
        }
    }

    &_color_white {
        background: #fff;
        border: 1px solid #cbcbcb;
        color: #000;

        &:hover {
            border-color: #b7b7b7;
            box-shadow: 0px 0px 1px #cbcbcb;
        }

        &:focus {
            box-shadow: 0px 0px 1px #cbcbcb;
        }

        &:active {
            border-color: #979797;
            color: $base;
        }
    }

    &_disabled {
        background: #d5d5d5;
        color: #fafafa;
        cursor: default;

        &:hover,
        &:active {
            background: #d5d5d5;
        }
    }
}
